[data-cellid="grid_c8"][data-page="tparam_direcc_territoriales_view"][data-cellid="grid_c8"][data-page="tparam_direcc_territoriales_view"][data-cellid="grid_c8"][data-page="tparam_direcc_territoriales_view"] {
  background-color: #f7f7f7;
  font-weight: bold;
  font-family: "Roboto";
}
[data-page="tparam_direcc_territoriales_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


