<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel tparam_direcc_territoriales search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cedula_resp_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cedula_resp}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cedula_resp{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="cedula_resp" data-fieldname="cedula_resp" >


	<label class="r-search-label control-label" for="{$labelfor_cedula_resp}">
		{$label tparam_direcc_territoriales cedula_resp }	</label>
	<div class="r-search-option">
		{$searchtype_cedula_resp}
	</div>
	<div class="r-search-field">
		{$cedula_resp_editcontrol}	</div>
	<div class="r-search-field">
		{$cedula_resp_editcontrol1}
	</div>
	
</div>

{END cedula_resp_fieldblock}
											
{BEGIN ciudad_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ciudad_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ciudad_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="ciudad_terr" data-fieldname="ciudad_terr" >


	<label class="r-search-label control-label" for="{$labelfor_ciudad_terr}">
		{$label tparam_direcc_territoriales ciudad_terr }	</label>
	<div class="r-search-option">
		{$searchtype_ciudad_terr}
	</div>
	<div class="r-search-field">
		{$ciudad_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$ciudad_terr_editcontrol1}
	</div>
	
</div>

{END ciudad_terr_fieldblock}
											
{BEGIN correo_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_correo_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="correo_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="correo_terr" data-fieldname="correo_terr" >


	<label class="r-search-label control-label" for="{$labelfor_correo_terr}">
		{$label tparam_direcc_territoriales correo_terr }	</label>
	<div class="r-search-option">
		{$searchtype_correo_terr}
	</div>
	<div class="r-search-field">
		{$correo_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$correo_terr_editcontrol1}
	</div>
	
</div>

{END correo_terr_fieldblock}
											
{BEGIN direc_territorial_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_direc_territorial_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="direc_territorial_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="direc_territorial_id" data-fieldname="direc_territorial_id" >


	<label class="r-search-label control-label" for="{$labelfor_direc_territorial_id}">
		{$label tparam_direcc_territoriales direc_territorial_id }	</label>
	<div class="r-search-option">
		{$searchtype_direc_territorial_id}
	</div>
	<div class="r-search-field">
		{$direc_territorial_id_editcontrol}	</div>
	<div class="r-search-field">
		{$direc_territorial_id_editcontrol1}
	</div>
	
</div>

{END direc_territorial_id_fieldblock}
											
{BEGIN direcion_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_direcion_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="direcion_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="direcion_terr" data-fieldname="direcion_terr" >


	<label class="r-search-label control-label" for="{$labelfor_direcion_terr}">
		{$label tparam_direcc_territoriales direcion_terr }	</label>
	<div class="r-search-option">
		{$searchtype_direcion_terr}
	</div>
	<div class="r-search-field">
		{$direcion_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$direcion_terr_editcontrol1}
	</div>
	
</div>

{END direcion_terr_fieldblock}
											
{BEGIN nombre_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="nombre_terr" data-fieldname="nombre_terr" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_terr}">
		{$label tparam_direcc_territoriales nombre_terr }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_terr}
	</div>
	<div class="r-search-field">
		{$nombre_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_terr_editcontrol1}
	</div>
	
</div>

{END nombre_terr_fieldblock}
											
{BEGIN responsable_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_responsable_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="responsable_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="responsable_terr" data-fieldname="responsable_terr" >


	<label class="r-search-label control-label" for="{$labelfor_responsable_terr}">
		{$label tparam_direcc_territoriales responsable_terr }	</label>
	<div class="r-search-option">
		{$searchtype_responsable_terr}
	</div>
	<div class="r-search-field">
		{$responsable_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$responsable_terr_editcontrol1}
	</div>
	
</div>

{END responsable_terr_fieldblock}
											
{BEGIN telefono_res_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono_res_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telefono_res_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="telefono_res_terr" data-fieldname="telefono_res_terr" >


	<label class="r-search-label control-label" for="{$labelfor_telefono_res_terr}">
		{$label tparam_direcc_territoriales telefono_res_terr }	</label>
	<div class="r-search-option">
		{$searchtype_telefono_res_terr}
	</div>
	<div class="r-search-field">
		{$telefono_res_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_res_terr_editcontrol1}
	</div>
	
</div>

{END telefono_res_terr_fieldblock}
											
{BEGIN telefono_terr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telefono_terr}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telefono_terr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="telefono_terr" data-fieldname="telefono_terr" >


	<label class="r-search-label control-label" for="{$labelfor_telefono_terr}">
		{$label tparam_direcc_territoriales telefono_terr }	</label>
	<div class="r-search-option">
		{$searchtype_telefono_terr}
	</div>
	<div class="r-search-field">
		{$telefono_terr_editcontrol}	</div>
	<div class="r-search-field">
		{$telefono_terr_editcontrol1}
	</div>
	
</div>

{END telefono_terr_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
